<link rel="stylesheet" href="/static/css/footer.css">
<!-- Footer -->
<footer class="text-center text-white footer" id="footer">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Links -->
        <section class="mt-4">
            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5">
                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/" class="text-white text-decoration-none">Anasayfa</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#" class="text-white text-decoration-none">İşgücüne Katılım</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/sigortasiz" class="text-white text-decoration-none">Sİgortasız İşçİ</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="/haklar" class="text-white text-decoration-none">İşçİ & İşveren Hakları</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="" class="text-white text-decoration-none">Sendİkalar</a>
                    </h6>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-2" />

        <!-- Section: Text -->
        <section class="mb-2">
            <div class="row d-flex justify-content-center">


                <div class="col-lg-8">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                        distinctio earum repellat quaerat voluptatibus placeat nam,
                        commodi optio pariatur est quia magnam eum harum corrupti
                        dicta, aliquam sequi voluptate quas.
                    </p>

                </div>


            </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center mb-3">

            <a href="" class="text-white me-4 text-decoration-none">
                <i class="fa-brands fa-twitter"></i>
            </a>

            <a href="" class="text-white me-4 text-decoration-none">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4 text-decoration-none">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4 text-decoration-none">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white text-decoration-none" href="isciatlasi.org"> <img src="/static/img/atlas.png" alt="" class="footer-brand">
            isciatlasi.org</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->