<link rel="stylesheet" href="/static/css/header.css">




<div id="carouselExampleIndicators" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <header id="header" style="padding-top: 104px;">
                <div class="container yasla py-5">
                    <div class="yazi">
                        <h3 class="text-uppercase fw-light">İŞGÜCÜNE KATILIM</h3>
                        <p>Türkiye'deki işgücüne katılımı, sektörlere göre istihdamı ve bölgelere göre istihdamı
                            gösteren grafikleri bulabilirsiniz. Bu veriler, ülke genelindeki çalışma gücünün dağılımını
                            ve sektörlere, bölgelere göre işgücü katılımını görsel olarak sunarak detaylı bir analiz
                            imkanı sağlar. Sektörel istihdam ve bölgesel dağılımın grafiksel gösterimiyle, Türkiye'nin
                            ekonomik yapısını anlamanıza ve işgücü trendlerini izlemenize yardımcı olur.</p>
                        <button class="btn btn-ozel"><a id="istatistikBtn" href="#" onclick="goToSection()">
                                İstatistikleri Gör</a></button>
                    </div>

                    <div class="foto">
                        <img src="/static/img/istatistik.png" alt="" class="img-fluid">
                    </div>
                </div>

            </header>
        </div>
        <div class="carousel-item">
            <header id="header" style="padding-top: 104px;">
                <div class="container yasla py-5">
                    <div class="yazi">
                        <h3 class="text-uppercase fw-light">SİGORTASIZ İşçİ</h3>
                        <p>sigortasız çalışma durumunda olan bireylerin haklarını savunmak amacıyla kullanabilecekleri
                            bir dilekçe örneği sunar. İşçilerin haklarını korumak ve yasal süreçlerde destek olmak için
                            hazırlanmış bu dilekçe örneği, adım adım nasıl hazırlanacağı konusunda rehberlik eder ve
                            işçilerin taleplerini resmi bir dilekçeyle iletmelerine yardımcı olur.</p>
                        <button class="btn btn-ozel ">Dilekçe Oluştur</button>
                    </div>

                    <div class="foto">
                        <img src="/static/img/dilekce.png" alt="" class="img-fluid">
                    </div>

                </div>

            </header>
        </div>
        <div class="carousel-item">
            <header id="header" style="padding-top: 104px;">
                <div class="container yasla py-5">
                    <div class="yazi">
                        <h3 class="text-uppercase fw-light">İşçİ ve İşveren hakları</h3>
                        <p>İşçiler ve işverenler için temel haklar, yasal düzenlemeler ve karşılıklı sorumluluklar
                            konusunda kapsamlı bir kaynak sunar. İşçilerin haklarını korumak, çalışma koşullarıyla
                            ilgili bilinçlendirme sağlamak ve işverenlerin de yasal çerçevede hareket etmelerine destek
                            olmak amacıyla hazırlanmıştır. </p>
                        <button class="btn btn-ozel ">Haklarını Öğren</button>
                    </div>

                    <div class="foto">
                        <img src="/static/img/header1.png" alt="" class="img-fluid">
                    </div>




                </div>

            </header>
        </div>
        <div class="carousel-item">
            <header id="header" style="padding-top: 104px;">
                <div class="container yasla py-5">
                    <div class="yazi">
                        <h3 class="text-uppercase fw-light">Sendİkalar</h3>
                        <p>İşçilerin ve çalışanların, meslek gruplarına göre sendika tercihlerini daha iyi
                            anlayabilmeleri ve sendikal hareketin çeşitli yönlerini keşfetmeleri için bu liste
                            sunulmaktadır. Sendikaların temel amaçları, üye profilleri ve sundukları hizmetler hakkında
                            genel bilgiler de bu bölümde yer almaktadır.</p>
                        <button class="btn btn-ozel ">Uygun Sendikanı Bul</button>
                    </div>

                    <div class="foto">
                        <img src="/static/img/sendika.png" alt="" class="img-fluid">
                    </div>




                </div>

            </header>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>

    </button>
</div>