<link rel="stylesheet" href="/static/css/navbar.style.css">
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top navbar.style.css">
    <div class="container">
        <a href="/" class="navbar-brand d-flex justify-content-between align-items-center order-lg-0">
            <img src="/static/img/atlas.png" alt="">
            <span class="text-lowercase fw-bold ms-2">isciatlasi.org</span>
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon">                
                <i class="fas fa-bars custom-icon-size"></i>
            </span>
        </button>

        <div class="collapse navbar-collapse order-lg-1" id="navMenu">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item px-2 py-2">
                    <a href="/" class="nav-link text-uppercase ">anasayfa</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="#isgucu" class="nav-link text-uppercase ">İşgücüne Katılım</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="/sigortasiz" class="nav-link text-uppercase">Sİgortasız İşçİ</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="haklar" class="nav-link text-uppercase">İşçİ & İşveren Hakları</a>
                </li>

                <li class="nav-item px-2 py-2">
                    <a href="/sendikalar" class="nav-link text-uppercase">Sendİkalar</a>
                </li>
                <li class="nav-item px-2 py-2">
                    <a href="/haberler" class="nav-link text-uppercase">Haberler</a>
                </li>

            </ul>
        </div>
    </div>
</nav>