<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    ………………………. SOSYAL GÜVENLİK İL MÜDÜRLÜĞÜNE
    ……………………… Sosyal Güvenlik Merkezine
    (Dilekçe il müdürlüğü veya merkez müdürlüğünden hangisine hitaben yazılıyorsa onun adı kalacak, diğeri silinecek)
    ..../…./..…

    Müdürlüğünüzde/Merkezinizde ……………………… (bu kısma işyerinin SGK’da işlem gördüğü dosya numarası biliniyorsa yazılacak,
    bilinmiyorsa sicil sayılı dosyada kısmı silinecek) sicil sayılı dosyada, …………….. (işverenin veya şirketin ismi
    yazılacak) adına işlem gören, ……………… (çalışılan işyerinin adresi yazılacak) adresinde kurulu, …………………… (kuaför,
    market, lokanta vs) işyerinde, tarihinden beri sigortasız olarak çalışmaktayım.
    İşyerinde bir an önce denetim yapılarak, çalıştığımın tespiti ve işe giriş tarihim itibariyle sigortamın
    başlatılması hususunda bilgilerinizi ve gereğini arz ederim.

    Şikayetçi ad - soyad / imza

    T. C. Kimlik Numarası / Sigorta Sicil Numarası
    Adres:
    Telefon:
    -------------------------------

</body>

</html>