<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Rights</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/sigortasiz-isci.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





</head>

<body>




    <%- include("../partials/nav") %>



        <div>
            <header id="haklar-header" style="padding-top: 104px;">
                <div class="container py-5">
                    <div class="yazi">
                        <h3 class="text-uppercase fw-normal text-center">İşveren ve İşçİ Hakları İle Yükümlülüklerİnİn
                            Hukukİ Dayanakları
                        </h3>
                        <p> İşçi hakları ve işveren hakları ve yükümlülükleri konusundaki temel mevzuatımız
                            anayasamızdır.

                            Bunun dışında Türkiye’nin taraf olduğu uluslararasını anlaşmalar da anayasa ve yasal
                            arasında
                            bir
                            hiyerarşiye sahip ve uygulama hiyerarşisi yönünden yasalardan üstün durumdadır.

                            İşçi hakları ile ilgili en temel düzenlemeler ILO ( Dünya Çalışma Örgütü ) sözleşmeleridir.
                            <a target="_blank"
                                href="https://www.ilo.org/wcmsp5/groups/public/---europe/---ro-geneva/---ilo-ankara/documents/genericdocument/wcms_645630.pdf">Türkiyenin
                                imzaladığı ILO sözleşmelerine</a> ulaşmak için yazı başlığına tıklayabilirsiniz.

                            Türkiye mevzuatı açısından da kanunlarımız bu mevzuatlara aykırı olmamak üzere yürürlüğe
                            konulmalıdır.

                            İş hukukta ise Temel Yasamız 6098 Sayılı Borçlar Kanunu, 4857 Sayılı İş Kanunu, 5510 Sayılı
                            Sosyal
                            Sigortalar ve Genel Sağlık Sigortası Kanunu ve bu kanunlara göre düzenlenmiş yönetmelik ve
                            tebliğlerdir.

                        </p>

                    </div>


                </div>

            </header>



            <section class="form-area">
                <div class="container py-4 ana">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    İşyerinde Çalışmaya Devam Ediyorum
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    İşyerinden Ayrıldım
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="">
                                <label for="">Bağlı Bulunduğunuz SGK İl Müdürlüğünü Seçiniz</label>
                                <select class="form-control">    <!-- İLLER VERİTABANINDAN ÇEKİLECEK-->
                                    <option>Adana</option>
                                    <option>Adıyaman</option>
                                    <option>Afyonkarahisar</option>
                                    <option>Ağrı</option>
                                    <option>Amasya</option>
                                    <option>Ankara</option>
                                    <option>Antalya</option>
                                    <option>Artvin</option>
                                    <option>Aydın</option>
                                    <option>Balıkesir</option>
                                    <option>Bilecik</option>
                                    <option>Bingöl</option>
                                    <option>Bitlis</option>
                                    <option>Bolu</option>
                                    <option>Burdur</option>
                                    <option>Bursa</option>
                                    <option>Çanakkale</option>
                                    <option>Çankırı</option>
                                    <option>Çorum</option>
                                    <option>Denizli</option>
                                    <option>Diyarbakır</option>
                                    <option>Edirne</option>
                                    <option>Elazığ</option>
                                    <option>Erzincan</option>
                                    <option>Erzurum</option>
                                    <option>Eskişehir</option>
                                    <option>Gaziantep</option>
                                    <option>Giresun</option>
                                    <option>Gümüşhane</option>
                                    <option>Hakkari</option>
                                    <option>Hatay</option>
                                    <option>Isparta</option>
                                    <option>Mersin</option>
                                    <option>İstanbul</option>
                                    <option>İzmir</option>
                                    <option>Kars</option>
                                    <option>Kastamonu</option>
                                    <option>Kayseri</option>
                                    <option>Kırklareli</option>
                                    <option>Kırşehir</option>
                                    <option>Kocaeli</option>
                                    <option>Konya</option>
                                    <option>Kütahya</option>
                                    <option>Malatya</option>
                                    <option>Manisa</option>
                                    <option>Kahramanmaraş</option>
                                    <option>Mardin</option>
                                    <option>Muğla</option>
                                    <option>Muş</option>
                                    <option>Nevşehir</option>
                                    <option>Niğde</option>
                                    <option>Ordu</option>
                                    <option>Rize</option>
                                    <option>Sakarya</option>
                                    <option>Samsun</option>
                                    <option>Siirt</option>
                                    <option>Sinop</option>
                                    <option>Sivas</option>
                                    <option>Tekirdağ</option>
                                    <option>Tokat</option>
                                    <option>Trabzon</option>
                                    <option>Tunceli</option>
                                    <option>Şanlıurfa</option>
                                    <option>Uşak</option>
                                    <option>Van</option>
                                    <option>Yozgat</option>
                                    <option>Zonguldak</option>
                                    <option>Aksaray</option>
                                    <option>Bayburt</option>
                                    <option>Karaman</option>
                                    <option>Kırıkkale</option>
                                    <option>Batman</option>
                                    <option>Şırnak</option>
                                    <option>Bartın</option>
                                    <option>Ardahan</option>
                                    <option>Iğdır</option>
                                    <option>Yalova</option>
                                    <option>Karabük</option>
                                    <option>Kilis</option>
                                    <option>Osmaniye</option>
                                    <option>Düzce</option>
                                </select>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">SGK'de İşlem Gören Dosya Sicil Numarası</label>
                                    <input type="text" class="form-control" id=""
                                        placeholder="Örn:1234567">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </section>



        </div>













        <%- include('../partials/footer') %>




</body>

</html>




<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>