<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Rights</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/sigortasiz-isci.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <%- include("../partials/nav") %>

        <header id="haklar-header" style="padding-top: 104px;">
            <section class="haklar-section">
                <div class="container py-4">
                    <div class="isci">
                        <div class="haklar-header-content">
                            <h2>Sigortasız Çalışan İşçilerin Hak Arama Yolları</h2>
                            <p>
                                Sigortalı olmak haktır, zorunluluktur ve buna sözleşmelerle istisna konulamaz. Ki bu
                                husus gerek 1.10.2008'den önce geçerli olan 506 sayılı Kanunda gerekse
                                1.10.2008'den sonra geçerli olan 5510 sayılı Kanunda da kesin olarak belirtilmiştir.
                                Her iki Kanunda da;
                                <br><br>

                                "Sigorta hak ve yükümlülükleri 4-1/a bendi (SSK) kapsamında sigortalı sayılanlar için
                                çalışmaya başladıkları tarihten itibaren başlar.
                                <br><br>

                                İşverenler, 4-1/a bendi (SSK) kapsamında sigortalı sayılan kişileri, (istisnalar
                                haricinde) sigortalılık başlangıç tarihinden önce, sigortalı işe giriş bildirgesi ile
                                Kuruma bildirmekle yükümlüdür.
                                <br><br>

                                Çalıştırılanlar, işe alınmalarıyla kendiliğinden sigortalı olacak, sigortalılar ile
                                bunların işverenleri hakkında sigorta hak ve yükümleri, sigortalının işe alındığı
                                tarihten itibaren başlayacak, dolayısıyla sigortalı olmak hak ve yükümünden
                                kaçınılamayacak ve vazgeçilemeyecektir." şeklinde ifade edilmiştir.
                            </p>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed fs-4" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                        1.Sigortasız Çalışan İşçilerin Hak Arama Yolları
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed fs-4" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                                    1.1. İdari Yoldan Hak Arama
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p>Sigortasız çalıştırılanlar için, işyerinde çalıştığı süre
                                                        içerisinde ilk müracaat etmesi/şikâyette bulunması gereken yer
                                                        Sosyal Güvenlik Kurumu İl Müdürlükleri veya Merkez
                                                        Müdürlükleridir. Müracaatlar/şikâyetler işçinin çalıştığı
                                                        işyerinin bağlı olduğu Sosyal Güvenlik İl/Merkez Müdürlüğüne ve
                                                        yazılı olarak, yani dilekçe ile yapılmalıdır. Sözlü başvurular
                                                        dikkate alınmaz. Şikâyet dilekçesi elden verilebileceği gibi,
                                                        taahhütlü posta ile de gönderilebilir. Şikâyet dilekçesinde
                                                        işçinin çalıştığı işyerinin adı/unvanı, adresi, işverenin adı,
                                                        biliniyorsa işyerinin SGK işyeri sicil (dosya) numarası, söz
                                                        konusu işyerinde hangi tarihler arası çalışıldığı gibi bilgiler
                                                        açıkça yazılmalı, dilekçenin sağ altına şikâyette bulunanın isim
                                                        ve imzası, sol altına da şikâyette bulunanın T. C. Kimlik
                                                        Numarası, açık adresi, telefon numarası gibi bilgiler yazılmalı,
                                                        şikâyette bulunduğu işyerindeki çalışmalarına ait belgeler varsa
                                                        onların fotokopileri de eklenmelidir. Şikâyet dilekçesi Kuruma
                                                        ulaştıktan sonra, ilgili Kontrol Memuru elindeki iş durumuna, iş
                                                        yoğunluğuna bağlı olarak belli bir süre sonra şikâyet sahibi ile
                                                        irtibata geçer ve şikâyet sahibinin iddialarına ilişkin olarak
                                                        ifadesini alır, bu aşamada şikâyet sahibi varsa iddialarına
                                                        ilişkin delil, bilgi ve belgeleri de kontrol memuruna verebilir
                                                        (1).

                                                        Müdürlüklere ihbar ve şikâyetler Alo 170 Kayıt Dışı İstihdam
                                                        Hattına yapılabilir.</p>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <button class="accordion-button collapsed fs-4"
                                                                type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseOne"
                                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                                1.1.1 Sigortasız Çalışırken Şikâyetin Yapılması
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingOne"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Şikâyetlerde öncelikle işyerinde çalışıyorken
                                                                    müracaatta/şikâyette bulunmak önemlidir. Çünkü bu
                                                                    durumda SGK Kontrol Memuru şikâyet üzerine işyerine
                                                                    gelerek yerel denetim yapar, orada çalışanları
                                                                    tutanağa alır, şikâyette bulunan kişi de gerçekten o
                                                                    an işyerinde çalışıyorsa, çalıştığı fiilen tespit
                                                                    edilmiş olur, en azından o gün itibariyle sigortası
                                                                    başlar, eğer o işyerinde tespit yapılan tarihten
                                                                    önce işe girmişse, o tarihten önceki çalışmalarına
                                                                    delil olacak belgeler işçinin elinde mevcutsa ya da
                                                                    şikâyet sahibi sigortalının, işyerinde çalışan diğer
                                                                    sigortalıların, işyeri mahallinde bulunanların,
                                                                    çevre işyeri sahiplerinin veya işverenin beyanından
                                                                    şikâyet sahibinin önceden beri o işyerinde çalıştığı
                                                                    tespit edilebiliyorsa, geriye dönük olarak şikâyet
                                                                    sahibine bir yıla kadar çalıştığı günlere ait
                                                                    sigortası/hizmeti kazandırılır. Bu haktan sadece
                                                                    şikâyette bulunan sigortalı değil, işyerinde yapılan
                                                                    denetim anında sigortasız olarak
                                                                    çalıştığı/çalıştırıldığı tespit edilen bütün
                                                                    sigortalılar yararlanır. En azından o gün itibariyle
                                                                    sigortası başlar, geriye dönük çalışmaların da
                                                                    olduğu yukarıda belirtilen şekilde tespit edilirse
                                                                    bir yıla kadar onlara da geriye dönük hizmet
                                                                    kazandırılabilir.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <button class="accordion-button collapsed fs-4"
                                                                type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapseOne"
                                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                                1.1.2 İşten Ayrıldıktan Sonra Şikâyetin Yapılması
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingOne"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p>Eğer işçi işyerinden ayrıldıktan veya işten
                                                                    çıkarıldıktan sonra şikâyette bulunmuşsa, o taktirde
                                                                    durum daha da zorlaşır. Çünkü her şeyden önce
                                                                    şikâyet sahibinin o işyerinde çalıştığını işyerinde
                                                                    denetim yaparak fiilen tespit etme imkanı ortadan
                                                                    kalkmış olduğu gibi, işveren de büyük bir maliyet
                                                                    ile idari para cezası ile karşılaşacağını bildiği
                                                                    için, o işçinin kendisine ait işyerinde çalışmış
                                                                    olduğu yönündeki iddiayı kabul etmez. Geriye iddia
                                                                    edilen çalışmalarla ilgili olarak işyeri yasal kayıt
                                                                    ve belgelerinin incelenmesi kalmaktadır. Ondan da
                                                                    çoğu zaman bir sonuç çıkmaz, çünkü incelenen işyeri
                                                                    yasal kayıt ve belgelerinden sadece şikâyet/iddia
                                                                    sahibi kişiye işveren tarafından herhangi bir ücret
                                                                    ödemesi yapılıp yapılmadığı, herhangi bir ücret
                                                                    kaydının bulunup bulunmadığı araştırılır, işveren
                                                                    sigortasız çalıştırdığı işçinin ücretini kayıtlarına
                                                                    işlemediğinden dolayı da bundan bir sonuç çıkmaz.
                                                                    Şikâyet sahibinin elinde, söz konusu işyerinde
                                                                    çalıştığına dair herhangi bir delil, belge de yoksa,
                                                                    eğer şikâyet sahibi ücretini elden almışsa, elinde
                                                                    çalışmaları karşılığı aldığı ücrete ilişkin herhangi
                                                                    bir belge/makbuz yoksa o taktirde kendisine herhangi
                                                                    bir hizmet kazandırılamaz, çünkü işveren kabul
                                                                    etmeden, herhangi bir delil-belge olmadan sadece
                                                                    şikâyet sahibinin iddiasına dayanarak onun
                                                                    çalıştığının kabul edilmesi ve kendisine geriye
                                                                    dönük hizmet kazandırılması mümkün değildir. Bu
                                                                    durumda işçinin direkt mahkemeye başvurarak hizmet
                                                                    tespit davası açması daha mantıklı olacaktır. Eğer
                                                                    şikâyet sahibi işçi çalıştığı süre içerisinde
                                                                    ücretini banka aracılığıyla almışsa veya elinde
                                                                    işverenden/işyerinden aldığı ücretlere ait
                                                                    makbuz/belge varsa o taktirde mahkemeye gitmeden
                                                                    önce çalıştığı işyerinin bağlı olduğu Sosyal
                                                                    Güvenlik İl/Merkez Müdürlüğüne şikâyet dilekçesi
                                                                    vermesi daha uygun olur. Şikâyet sonucu yapılan
                                                                    inceleme sonucunda, belgelere dayalı çalışmalar
                                                                    tespit edilip, tespit edilen çalışmaları kadar
                                                                    şikâyet sahibine geriye dönük hizmet
                                                                    kazandırılabilir (2).</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed fs-4" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo">
                                        2.Yargı Yoluyla Hak Arama
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>Yukarıda belirtildiği üzere sigortalı ya doğrudan ya da Kuruma yapılan
                                            müracaat/şikâyet sonrasında yapılan incelemenin ardından şikâyet sahibine
                                            Kurumca yazılı olarak bilgi verilmesi sonucuna göre yargı yoluna
                                            başvurabilir. Buna literatürde "hizmet tespit davaları" denir (3). Şikâyet
                                            sahibi 5510 sayılı Kanunun 86'ncı maddesinin dokuzuncu fıkrası uyarınca
                                            çalıştığı hizmetlerinin geçtiği yılın sonundan başlayarak beş yıl içerisinde
                                            iş mahkemesine başvurarak, alacağı ilâm yani mahkeme kararı ile iddia ettiği
                                            çalışmalarını ispatlayabilirler.</p>
                                        <p>5521 sayılı İş Mahkemeleri Kanununun birinci maddesi ve 5510 sayılı Kanunun
                                            86. maddesi hükümlerine göre hizmet tespit davalarının incelenmesinde
                                            görevli mahkeme İş Mahkemesidir. İş Mahkemelerinin bulunmadığı yerde ise
                                            görevli mahkeme Asliye Hukuku Mahkemesidir. HUMK gereğince İş Mahkemelerinde
                                            şifahi yargılama usulü uygulanmakta olup davaların iki ay içinde incelenip
                                            karara bağlanması gerekmektedir.</p>
                                        <p>Hizmet Tespit davalarında SGK ile beraber İşverenin de hasım gösterilmesi
                                            zorunludur. Dava konusu hizmetin geçtiği sürede işyeri el değiştirmişse eski
                                            işveren yanında işyerini devralan yeni işverenin de SGK ile birlikte hasım
                                            gösterilerek davaya dahil edilmeleri gerekip husumetin üçüne birden aynı
                                            anda müteveccih olması gerekir. Aksi halde hizmet tespit edilse dahi
                                            Yargıtayca hüküm bozulmaktadır.
                                        </p>
                                        <p>Ancak hizmet tespit davalarında aynı soyadı taşıyan davalı ve davacıların
                                            akraba olup olmadıkları araştırılmakta akrabalar arasındaki hizmet tespit
                                            husumetlerine daha titiz yaklaşılmaktadır. Örneğin davacı ile davalı
                                            karı-koca ise bunların birinin diğerinin hizmetini eksik bildirim yoluyla
                                            sosyal güvenceden mahrum bırakması hayatın normal akışına ters olacağından
                                            davacının çalıştığı sürelerin aynen bildirildiğinin kabulü gerekip bu konuda
                                            yazılı delil olmaksızın salt şahit beyanlarıyla aksine hüküm kurulmamaktadır
                                            (4).
                                        </p>
                                        <p>Hizmet Tespit davasını kişinin kendisi veya ölmüşse hak sahipleri açabilir.
                                            Sigortalının kendisinin açması durumunda hizmet tespitine konu işyerinde
                                            hizmetlerinin geçtiği yılın sonundan başlayarak 5 yıl içerisinde mahkemeye
                                            başvurabilir. Sigortalı ölmüşse murisin hak sahiplerinin Hizmet Tespit
                                            davasına dair hak düşürücü süresi murisin ölüm tarihinden başlar. Ancak
                                            burada çok önemli bir noktaya değinmekte lüzum vardır. O da murisin
                                            hayattayken hizmet tespit davasını açma süresini geçirmemiş, bu hakkını
                                            düşürmemiş olması gerekmektedir.
                                        </p>
                                        <p>Ayrıca sigortalının aynı işyerinde aralıklarla birden fazla çalışmasının
                                            bulunması durumunda her çalışma periyodu için zamanaşımı ayrı ayrı işler.
                                            Önceki yıllarda Yargıtay'ın aksi yönde kararlar vermiş olmasına rağmen
                                            son zamanlarda verdiği kararlarda "aynı işyerinde yeniden çalışmaya
                                            başlanması daha önce çalışılmış dönemler için açılacak hizmet tespit
                                            davalarının zamanaşımı sürelerini durdurmaz" görüşü yerleşik hale gelmiştir.
                                        </p>

                                        <ul>
                                            <p>Söz konusu 5 yıllık süre aşağıda zikredilen hallerde hak düşürücü süre
                                                nedeniyle, hak zamanaşımına uğramaz.
                                            </p>
                                            <li>Müfettiş durum tespit tutanağı ya da tahkikat raporlarıyla çalışma
                                                tespit edilmişse,</li>
                                            <li>Asgari İşçilik İncelemesi neticesinde işverenden sigortalının primleri
                                                işverenden Kurumca icra yoluyla tahsil edilmişse,</li>
                                            <li>İşveren imzalı ücret tediye bordrosunda sigortalıdan sigorta primi
                                                kestiğini açıkça gösterdiği halde sigorta primini götürüp Kuruma
                                                yatırmamışsa,</li>
                                            <li>Sigortalı durumunda iken memurluğa geçmiş olursa,</li>
                                            <li>İşe giriş bildirgesi Kuruma süresinde verilmiş; fakat bordrosu ve primi
                                                SGK' ya intikal ettirilmemişse,</li>
                                            <li>İşçilik hakları tazminatlarına (ihbar, kıdem tazminatı, ücret alacağı
                                                vs.) ilişkin aynı döneme ait kesin hüküm niteliğini taşıyan yargı
                                                kararları varsa</li>
                                        </ul>
                                        <p>Hizmet Tespit Davaları zamanaşımına uğramaz (5).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed fs-4" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                        aria-expanded="false" aria-controls="flush-collapseThree">
                                        3. Sonuç
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <p>Kayıt dışı istihdam, işverenin, istihdam ettiği işçilerle ilgili kanuni
                                            yükümlülüklerden kurtulmak veya bu yükümlülükleri azaltmak için söz konusu
                                            işçileri, ya hiç kayıtlarında göstermemesi, ya da işçilerle ilgili kanuni
                                            yükümlülüklere konu olabilecek bilgileri gerçekten daha düşük bir şekilde
                                            kayıtlarında göstermesi" (6) olarak tarif edilmektedir.
                                        </p>
                                        <p>Kayıt dışı istihdamın en önemli nedenlerinden biri sosyal güvenlik bilincinin
                                            yeterince gelişmemiş olmasıdır.
                                        </p>
                                        <p>Türkiye'de de hızlı nüfus artışı ve 1950'lerden itibaren artan köyden kente
                                            göçün oluşturduğu emek piyasası özellikleri, kayıtdışı ekonominin
                                            gelişmesinde etkili faktörlerden biridir. Kentlerde yoğunlaşan niteliksiz
                                            emek sahipleri, daha az ücretle ve sosyal güvenceye sahip olmaksızın
                                            emeklerini arz etmeye razı olmaktadır (7).
                                        </p>
                                        <p>Bireylerin haklarını hukuk düzeni içinde hukuki kuralara göre araması
                                            gerekmektedir. Bu sebeple hakların ne olduğunun öğrenilmesi haricinde,
                                            hakların nasıl aranması gerektiği de önemlidir.
                                        </p>
                                        <ul class="list-unstyled">
                                            <p>Kaynaklar: </p>
                                            <li>(1)
                                                http:⁄⁄www.taraf.com.tr⁄ramazan-canakkaleli⁄makale-sigortasız-calistirilan-isciler-hakkini-nasil.html
                                            </li>
                                            <li>(2) http:⁄⁄www.isvesosyalguvenlik.com⁄
                                            </li>
                                            <li>(3) Mehmet BULUT, "Hizmet Tespit Davaları" Bilge yayınevi, 2011⁄Mart,
                                                s;18. </li>
                                            <li>(4) Ersin UMDU, "Hizmet Tespit Davaları Nedir?" Lebib Yalkın Mevzuat
                                                Dergisi, 2010⁄12. </li>
                                            <li>(5) İhsan ÇAKMAK: Şerhli Sosyal Sigortalar Kanunu, Cilt:2 s. 1803-1804.
                                            </li>
                                            <li>(6) Adem KALÇA "Sanayileşme Temeline Dayanmayan Şehirleşme ve Kayıtdışı
                                                İstihdam", 1999, İstanbul: İBB İSTAÇ Genel Müdürlüğü Yayını No:6⁄2.
                                                ss.124-133 </li>
                                            <li>(7) DPT, VIII. Beş Yıllık Kalkınma Planı Kayıtdışı Ekonomi Özel İhtisas
                                                Komisyonu Raporu, Ankara: DPT Yayını No:2603, 2001, s.15. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>

        </header>

        <div class="container pt-5 pb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h2 class="dilekce-baslik">SİGORTASIZ İŞÇİLER İÇİN DİLEKÇE OLUŞTURMA</h2>
                </div>
            </div>
        </div>

        <section class="form-area">
            <div class="container py-4 ana">
                <div class="row">

                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label id="ediyorumBtn" class="btn btn-secondary">
                                İşyerinde Çalışıyorum
                            </label>
                            <label id="etmiyorumBtn" class="btn btn-secondary">
                                İşyerinden Ayrıldım
                            </label>
                        </div>
                        <script>
                            document.getElementById('ediyorumBtn').addEventListener('click', function () {
                                this.classList.add('active');
                                document.getElementById('etmiyorumBtn').classList.remove('active');


                                const aralikInputs = document.querySelectorAll('.aralik input');
                                aralikInputs.forEach(input => {
                                    input.removeAttribute('disabled');
                                });
                            });

                            document.getElementById('etmiyorumBtn').addEventListener('click', function () {
                                this.classList.add('active');
                                document.getElementById('ediyorumBtn').classList.remove('active');


                                const aralikInputs = document.querySelectorAll('.aralik input');
                                aralikInputs.forEach(input => {
                                    input.setAttribute('disabled', 'disabled');
                                });
                            });

                        </script>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="" class="d-flex">
                            <div class="col-md-6 p-4 input-alani">
                                <label for="">İl Seçiniz</label>
                                <select class="form-select form-group" aria-label="Default select example"
                                    id="sehirler">
                                    <option selected disabled>İlgili SGK İl Müdürlüğünü Seçiniz</option>
                                    <% iller.forEach(iller => { %>
                                     <option value=""><%=iller.sehiradi%></option>                                     
                                    <% }) %>
                                </select>

                               <!-- <script>
                                    
                                    sehirler.sort();

                                    const select = document.getElementById("sehirler");
                                    sehirler.forEach(sehir => {
                                        const option = document.createElement("option");
                                        option.value = sehir.toLowerCase();
                                        option.text = sehir;
                                        select.appendChild(option);
                                    });
                                </script>-->
                                <div class="form-group">
                                    <label for="">SGK'de İşlem Gören Dosya Sicil Numarası</label>
                                    <input type="number" class="form-control" id="" placeholder="Örn:1234567">
                                </div>
                                <div class="form-group">
                                    <label for="">İşverenin veya Şirketin İsmi </label>
                                    <input type="" class="form-control" id="" placeholder="Örn: loremipsum ltd. şti.">
                                </div>
                                <div class="form-group">
                                    <label for="">Çalışılan İşyerinin Adresi</label>
                                    <textarea type="" class="form-control adres" id=""
                                        placeholder="123 Sokak, Çankaya Mahallesi, Ankara, Türkiye"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sektör</label>
                                    <input type="" class="form-control" id=""
                                        placeholder="Örn: Kuaför, Şirket, Fabrika">
                                </div>
                                <div class="aralik">
                                    <div class="form-group">
                                        <label for="tarih">İşe Başladığınız Tarih</label>
                                        <input type="date" class="form-control" id="tarih">
                                    </div>
                                    <div class="form-group">
                                        <label for="tarih">İşten Ayrıldığınız Tarih</label>
                                        <input type="date" class="form-control" id="tarih">
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6 p-4 input-alani">
                                <div class="form-group">
                                    <label for="">Şikayetçi Adı</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: Jhon">
                                </div>
                                <div class="form-group">
                                    <label for="">Şikayetçi Soyadı</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: DOE">
                                </div>
                                <div class="form-group">
                                    <label for="">TC Kimlik Numarası</label>
                                    <input type="number" class="form-control" id="" placeholder="12233456789">
                                </div>
                                <div class="form-group">
                                    <label for="">Sigorta Sicil Numarası</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: 1234567879123">
                                </div>
                                <div class="form-group">
                                    <label for="">Şikayetçi Adresi</label>
                                    <textarea type="" class="form-control adres" id="" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Telefon</label>
                                    <input type="" class="form-control" id="" placeholder="505 505 50 05">
                                </div>
                                <div class="form-group">
                                    <label for="tarih">Dilekçenin Yazıldığı Tarih</label>
                                    <input type="date" class="form-control" id="tarih">
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

                <div class="d-flex justify-content-center pt-4">
                    <button class="dilekce-btn col-md-4 btn btn-dark py-3">
                        <img src="/static/img/dilekce-btn.png" alt="">
                        Dilekçe Oluştur
                    </button>
                </div>
            </div>


        </section>


        <div id="onemli-aciklama">
            <div class="container py-5">
                <div class="yazi">
                    <h3 class="text-uppercase fw-normal text-center text-danger">Önemlİ Açıklamalar:
                    </h3>
                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <th scope="row">1-</th>
                                <td>Yukarıdaki T. C. Kimlik Numarası / Sigorta Sicil Numarası, adres, telefon bilgileri
                                    kısmına şikayet sahibine ait bilgiler yazılacak.</td>

                            </tr>
                            <tr>
                                <th scope="row">2-</th>
                                <td>Yukarıdaki dilekçe sadece örnek olup, dilekçedeki şekil şartlarını bozmamak şartıyla
                                    dilekçede istenilen değişiklik yapılabilir. Zaten dilekçe SGK tarafından işleme
                                    alındığında, şikayet sahibi ile irtibata geçecek, gerekirse şikayet sahibinin bilgi
                                    ve ifadesine başvurulacaktır.</td>

                            </tr>
                            <tr>
                                <th scope="row">3-</th>
                                <td colspan="2">Dilekçeye, şikayet sahibinin elinde söz konusu işyerinde çalıştığına
                                    delil teşkil edecek belgeler varsa fotokopisi eklenebilir. Bu tür belgelerin aslı
                                    şikayet sahibinde kalmalıdır. Şikayet dilekçesi işleme alındıktan sonra denetim ve
                                    inceleme aşamasında denetim elemanı gerekirse söz konusu belgelerin aslını şikayet
                                    sahibinden alır.</td>

                            </tr>
                            <tr>
                                <th scope="row">4-</th>
                                <td colspan="2">İşten ayrılmış olan kişinin, geriye dönük olarak iddia ettiği
                                    çalışmalarını ispatlayabilmesi ve sonuç alabilmesi için, iddia ettiği çalışmalarını
                                    gösterir belge - delil sunması büyük önem taşımaktadır.</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>

<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>