<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Rights</title>
    <!-- bootstrap-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- fontawesome-->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/sigortasiz-isci.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />





</head>

<body>




    <%- include("../partials/nav") %>




        <header id="haklar-header" style="padding-top: 104px;">
            <div class="container py-5">
                <div class="yazi">
                    <h3 class="text-uppercase fw-normal text-center">İşveren ve İşçİ Hakları İle Yükümlülüklerİnİn
                        Hukukİ Dayanakları
                    </h3>
                    <p> İşçi hakları ve işveren hakları ve yükümlülükleri konusundaki temel mevzuatımız
                        anayasamızdır.

                        Bunun dışında Türkiye’nin taraf olduğu uluslararasını anlaşmalar da anayasa ve yasal
                        arasında
                        bir
                        hiyerarşiye sahip ve uygulama hiyerarşisi yönünden yasalardan üstün durumdadır.

                        İşçi hakları ile ilgili en temel düzenlemeler ILO ( Dünya Çalışma Örgütü ) sözleşmeleridir.
                        <a target="_blank"
                            href="https://www.ilo.org/wcmsp5/groups/public/---europe/---ro-geneva/---ilo-ankara/documents/genericdocument/wcms_645630.pdf">Türkiyenin
                            imzaladığı ILO sözleşmelerine</a> ulaşmak için yazı başlığına tıklayabilirsiniz.

                        Türkiye mevzuatı açısından da kanunlarımız bu mevzuatlara aykırı olmamak üzere yürürlüğe
                        konulmalıdır.

                        İş hukukta ise Temel Yasamız 6098 Sayılı Borçlar Kanunu, 4857 Sayılı İş Kanunu, 5510 Sayılı
                        Sosyal
                        Sigortalar ve Genel Sağlık Sigortası Kanunu ve bu kanunlara göre düzenlenmiş yönetmelik ve
                        tebliğlerdir.

                    </p>

                </div>


            </div>

        </header>

        <div class="container pt-5 pb-3">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h2 class="dilekce-baslik">SİGORTASIZ İŞÇİLER İÇİN DİLEKÇE OLUŞTURMA</h2>
                </div>
            </div>
        </div>

        <section class="form-area">
            <div class="container py-4 ana">
                <div class="row">

                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label id="ediyorumBtn" class="btn btn-secondary">
                                İşyerinde Çalışıyorum
                            </label>
                            <label id="etmiyorumBtn" class="btn btn-secondary">
                                İşyerinden Ayrıldım
                            </label>
                        </div>
                        <script>
                            document.getElementById('ediyorumBtn').addEventListener('click', function () {
                                this.classList.add('active');
                                document.getElementById('etmiyorumBtn').classList.remove('active');


                                const aralikInputs = document.querySelectorAll('.aralik input');
                                aralikInputs.forEach(input => {
                                    input.removeAttribute('disabled');
                                });
                            });

                            document.getElementById('etmiyorumBtn').addEventListener('click', function () {
                                this.classList.add('active');
                                document.getElementById('ediyorumBtn').classList.remove('active');


                                const aralikInputs = document.querySelectorAll('.aralik input');
                                aralikInputs.forEach(input => {
                                    input.setAttribute('disabled', 'disabled');
                                });
                            });

                        </script>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form action="" class="d-flex">
                            <div class="col-md-6 p-4 input-alani">
                                <label for="">İl Seçiniz</label>
                                <select class="form-select form-group" aria-label="Default select example"
                                    id="sehirler">
                                    <option selected disabled>İlgili SGK İl Müdürlüğünü Seçiniz</option>

                                </select>

                                <script>

                                    const sehirler = ["Adana", "Ankara", "Antalya", "Adıyaman"];
                                    sehirler.sort();

                                    const select = document.getElementById("sehirler");
                                    sehirler.forEach(sehir => {
                                        const option = document.createElement("option");
                                        option.value = sehir.toLowerCase();
                                        option.text = sehir;
                                        select.appendChild(option);
                                    });
                                </script>
                                <div class="form-group">
                                    <label for="">SGK'de İşlem Gören Dosya Sicil Numarası</label>
                                    <input type="number" class="form-control" id="" placeholder="Örn:1234567">
                                </div>
                                <div class="form-group">
                                    <label for="">İşverenin veya Şirketin İsmi </label>
                                    <input type="" class="form-control" id="" placeholder="Örn: loremipsum ltd. şti.">
                                </div>
                                <div class="form-group">
                                    <label for="">Çalışılan İşyerinin Adresi</label>
                                    <textarea type="" class="form-control adres" id=""
                                        placeholder="123 Sokak, Çankaya Mahallesi, Ankara, Türkiye"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Sektör</label>
                                    <input type="" class="form-control" id=""
                                        placeholder="Örn: Kuaför, Şirket, Fabrika">
                                </div>
                                <div class="aralik">
                                    <div class="form-group">
                                        <label for="tarih">İşe Başladığınız Tarih</label>
                                        <input type="date" class="form-control" id="tarih">
                                    </div>
                                    <div class="form-group">
                                        <label for="tarih">İşten Ayrıldığınız Tarih</label>
                                        <input type="date" class="form-control" id="tarih">
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6 p-4 input-alani">
                                <div class="form-group">
                                    <label for="">Şikayetçi Adı</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: Jhon">
                                </div>
                                <div class="form-group">
                                    <label for="">Şikayetçi Soyadı</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: DOE">
                                </div>
                                <div class="form-group">
                                    <label for="">TC Kimlik Numarası</label>
                                    <input type="number" class="form-control" id="" placeholder="12233456789">
                                </div>
                                <div class="form-group">
                                    <label for="">Sigorta Sicil Numarası</label>
                                    <input type="" class="form-control" id="" placeholder="Örn: 1234567879123">
                                </div>
                                <div class="form-group">
                                    <label for="">Şikayetçi Adresi</label>
                                    <textarea type="" class="form-control adres" id="" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Telefon</label>
                                    <input type="" class="form-control" id="" placeholder="505 505 50 05">
                                </div>
                                <div class="form-group">
                                    <label for="tarih">Dilekçenin Yazıldığı Tarih</label>
                                    <input type="date" class="form-control" id="tarih">
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

                <div class="d-flex justify-content-center pt-4">
                    <button class="dilekce-btn col-md-4 btn btn-dark py-3">
                        <img src="/static/img/dilekce-btn.png" alt="">
                        Dilekçe Oluştur
                    </button>
                </div>
            </div>


        </section>


        <div id="onemli-aciklama">
            <div class="container py-5">
                <div class="yazi">
                    <h3 class="text-uppercase fw-normal text-center text-danger">Önemlİ Açıklamalar:
                    </h3>
                    <table class="table table-hover">
                        
                        <tbody>
                            <tr>
                                <th scope="row">1-</th>
                                <td>Yukarıdaki T. C. Kimlik Numarası / Sigorta Sicil Numarası, adres, telefon bilgileri
                                    kısmına şikayet sahibine ait bilgiler yazılacak.</td>

                            </tr>
                            <tr>
                                <th scope="row">2-</th>
                                <td>Yukarıdaki dilekçe sadece örnek olup, dilekçedeki şekil şartlarını bozmamak şartıyla
                                    dilekçede istenilen değişiklik yapılabilir. Zaten dilekçe SGK tarafından işleme
                                    alındığında, şikayet sahibi ile irtibata geçecek, gerekirse şikayet sahibinin bilgi
                                    ve ifadesine başvurulacaktır.</td>

                            </tr>
                            <tr>
                                <th scope="row">3-</th>
                                <td colspan="2">Dilekçeye, şikayet sahibinin elinde söz konusu işyerinde çalıştığına
                                    delil teşkil edecek belgeler varsa fotokopisi eklenebilir. Bu tür belgelerin aslı
                                    şikayet sahibinde kalmalıdır. Şikayet dilekçesi işleme alındıktan sonra denetim ve
                                    inceleme aşamasında denetim elemanı gerekirse söz konusu belgelerin aslını şikayet
                                    sahibinden alır.</td>

                            </tr>
                            <tr>
                                <th scope="row">4-</th>
                                <td colspan="2">İşten ayrılmış olan kişinin, geriye dönük olarak iddia ettiği
                                    çalışmalarını ispatlayabilmesi ve sonuç alabilmesi için, iddia ettiği çalışmalarını
                                    gösterir belge - delil sunması büyük önem taşımaktadır.</td>

                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>

        </div>
















        <%- include('../partials/footer') %>




</body>

</html>




<!-- Bootstrap js-->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>