#haberler {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.btn-sendika {

    background-color: var(--turuncu);
    color: var(--beyaz);
    border-color: var(--beyaz);
}

.btn-sendika:hover {
    transition: background-color 0.5s;
    color: var(--turuncu);
    border-color: var(--turuncu);
}