:root {
    --lacivert: #222831;
    --gri: #393E46;
    --mavi: #00ADB5;
    --beyaz: #EEEEEE;
    --normal-font: 'Ubuntu', serif;
}

section .btn {
    background-color: var(--gri);
    color: var(--beyaz);
    
}
section .btn:hover{
    background-color: var(--mavi)!important;
    color: var(--beyaz);
    
}
section .btn.active {
    background-color: var(--mavi) !important;
    color: var(--beyaz);
}

section a{
    text-decoration: none;
    color: var(--mavi);
}
section a:hover{
    
    color: #3f005c;
}

