@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --red: #af0006;
    --mavi: #346EAA;
    --beyaz: #FFFFFF;

}

section .btn {
    background-color: var(--mavi);
    color: var(--beyaz);
    
}
section .btn:hover{
    background-color: var(--red)!important;
    color: var(--beyaz);
    
}
section .btn.active {
    background-color: var(--red) !important;
    color: var(--beyaz);
}

section a{
    text-decoration: none;
    color: var(--mavi);
}
section a:hover{
    
    color: #3f005c;
}

