@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;500&display=swap');

:root {
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --red: #af0006;
    --mavi: #346EAA;
    --beyaz: #FFFFFF;
    --turuncu: #EF4040;

}

body {
    background-color: var(--beyaz);
}

nav {
    background-color: var(--beyaz);
    font-family: var(--normal-font);
}

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}


.navbar-brand {
    color: var(--red);
    transition: color 0.5s ease;
    
    
}
.navbar-brand img {
    width: 55px;
}

.navbar-brand span {
    letter-spacing: 2px;
    font-family: var(--lg-font);
}


.navbar-brand:hover {
    color: var(--turuncu);
}

.nav-link {
    color: var(--red);
    font-weight: normal;
    font-size: medium;
}

.nav-link:hover {
    color: var(--turuncu);

}

.navbar-toggler-icon {
    color: var(--turuncu) !important; /* Mavi renk */
    font-size: 18px;
}
