.btn-ozel {

    background-color: var(--turuncu);
    color: var(--beyaz);
}

.btn-ozel:hover {
    background-color: var(--red);
    color: var(--beyaz);
}

.form-control{
    width: 350px;
}

#haklar-header{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}