<link rel="stylesheet" href="/static/css/sendika-card.css">

<div class="container">
   
    
    <div class="example">
      <h2>Image Card</h2>
      <article class="card depth--two">
        <figure class="image">
          <img src="http://lorempixel.com/output/city-q-c-640-480-1.jpg" alt="City picture via LoremPixel" />
        </figure>
        <div class="card__body">
          <header class="card__primary-title">
            <h2 class="text-large">Card Title</h2>
            <h3 class="text-secondary text-normal text-small">Card Subtitle</h3>
          </header>
          <div class="card__supporting-text">
            Supporting text. Lorem ipsum dolor sit amet.
          </div>
        </div>
        <footer class="card__actions">
          <a class="btn" href="#">Action 1</a>
          <a class="btn" href="#">Action 2</a>
        </footer>
      </article>
    </div>
    
    
  </div>