<link rel="stylesheet" href="/static/css/card.css">


<section class="light">
    <div class="container py-2">


        <article class="postcard light blue">
            <div class="postcard__img_link" href="#">
                <img class="postcard__img" src="../static/img/isci.jpg" alt="Image Title" />
            </div>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red px-3">Sendikaların İşçiler İçin Önemi</h1>

                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    <p>Temsil ve Güç: İşçilerin haklarını ve çıkarlarını korumak için güçlü bir ses sağlarlar.
                        Toplu olarak hareket ederek, tek başlarına talep etmeye cesaret edemeyecekleri hakları
                        ve avantajları elde etmelerine yardımcı olurlar.</p>
                    <p>
                        Ücret ve İş Koşulları: Sendikalar, işçilerin ücretlerini, çalışma saatlerini, tatil
                        sürelerini ve diğer iş koşullarını müzakere ederler. Bu, işçilere daha adil ve
                        sürdürülebilir çalışma koşulları sağlar.</p>
                    <p>
                        Güvenlik ve Sağlık: Sendikalar, işçilerin iş sağlığı ve güvenliği konusundaki haklarını
                        savunur. İşçilerin daha güvenli bir çalışma ortamında olmalarını ve gerekli önlemlerin
                        alınmasını sağlarlar.</p>
                </div>
                <ul class="postcard__tagbox">
                    <a href="https://dergipark.org.tr/en/pub/hakisderg/issue/7575/99441" target="_blank">
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>Makale</li>
                    </a>

                </ul>
            </div>
        </article>
        <article class="postcard light green">
            <div class="postcard__img_link" href="#">
                <img class="postcard__img" src="../static/img/isveren.jpg" alt="Image Title" />
            </div>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title green">Sendikaların İşverenler İçin Önemi</h1>

                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    <p>Dengeli İlişkiler: Sendikalar, işverenlerle işçiler arasında dengeli ve adil bir ilişki
                        oluşturabilir. Bu, işverenlerin çalışanlarıyla daha sağlam bir iletişim ve işbirliği
                        içinde olmalarına yardımcı olabilir.</p>
                    <p>
                        Müzakere ve Çözüm Süreçleri: Sendikalar, işçilerin temsilcileri olarak, işverenlerle
                        müzakere ederek anlaşmazlıkları çözmeye çalışır. Bu, işverenlerin iş gücü ile ilgili
                        sorunları daha etkili bir şekilde yönetmelerine yardımcı olabilir.</p>
                    <p>
                        Uzlaşma ve Verimlilik: Sendikalar, adil ve tatmin edici bir iş ortamı oluşturarak
                        işverenler için çalışan sadakatini artırabilir. Bu da daha yüksek verimlilik, daha düşük
                        devir oranları ve uzun vadeli şirket başarısı açısından olumlu bir etki yaratabilir.</p>
                </div>
                <ul class="postcard__tagbox">
                    <a href="https://dergipark.org.tr/en/pub/hakisderg/issue/7575/99441" target="_blank">
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>Makale</li>
                    </a>

                </ul>
            </div>
        </article>
        <article class="postcard light yellow">
            <div class="postcard__img_link" href="#">
                <img class="postcard__img" src="../static/img/devlet.jpg" alt="Image Title" />
            </div>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow px-3">Sendikaların Devlet İçin Önemi</h1>

                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt px-2">
                    
                    <p>İş Kanunları ve Standartlar: Sendikalar, işçi hakları ve iş koşullarıyla ilgili olarak devlet
                        politikalarının oluşturulmasında etkili bir rol oynar. Devlet, sendikaların geri bildirimlerini
                        ve taleplerini dikkate alarak iş yasalarını ve standartlarını belirler. Bu da daha adil ve
                        dengeli bir iş ortamının oluşturulmasına yardımcı olur.</p>
                    <p>Toplumsal Refahın Desteklenmesi: Sendikalar, işçi haklarını ve refahını desteklerken aynı zamanda
                        genel toplumsal refahın artmasına katkıda bulunurlar. Daha yüksek ücretler, daha iyi iş
                        koşulları ve sosyal yardımlar aracılığıyla işçi ve ailelerin yaşam kalitesini iyileştirirler. Bu
                        da toplumun genel refahına katkı sağlar.</p>
                    <p>Ekonomik Denge ve Verimlilik: Sendikalar, iş gücü ile işveren arasındaki dengeli bir mücadele
                        sağlayarak ekonomik dengeyi koruyabilirler. Adil iş koşulları, işçi memnuniyeti ve verimliliği
                        artırır. Bu da ekonominin genel sağlığına katkıda bulunabilir.</p>
                </div>
                <ul class="postcard__tagbox">
                    <a href="https://dergipark.org.tr/en/pub/hakisderg/issue/7575/99441" target="_blank">
                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>Makale</li>
                    </a>

                </ul>
            </div>
        </article>
    </div>
</section>