<link rel="stylesheet" href="/static/css/haber.card.css">

<section id="haberler">

    <div class="col-md-12 py-5">
        <h2 class="pb-2 text-center">HABERLER</h2>

        <section id="gallery">
            <div class="container">
                <div class="row">
                    <% haberler.forEach(haber=> { %>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="<%= haber.img %>" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= haber.baslik %>
                                    </h5>
                                    <p class="card-text">
                                        <%= haber.icerik.slice(0, 350) %>...
                                    </p>
                                    <a class="btn btn-sendika" target="_blank" href="/haberler/<%=haber.id %>">Haberin
                                        Devamı</a>

                                </div>
                            </div>
                        </div>
                        <% }) %>

                </div>
            </div>
        </section>
    </div>

</section>