<link rel="stylesheet" href="/static/css/haber.card.css">

<section id="haberler">

    <div class="col-md-12 py-5">
        <h2 class="pb-2 text-center">HABERLER</h2>
        
        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                                alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Sunset</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                                    eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto
                                    dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
                                alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Sunset</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                                    eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto
                                    dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                                alt="" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Sunset</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut
                                    eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto
                                    dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</section>